@font-face {
  font-family: 'Barbaro';
  src: url('/themes/custom/utg/fonts/barbaro-webfont.woff2') format('woff2'),
    url('/themes/custom/utg/fonts/barbaro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moonstone';
  src: url('/themes/custom/utg/fonts/moonstone-regular-webfont.woff2') format('woff2'),
    url('/themes/custom/utg/fonts/moonstone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
