/* Breakpoints */
$phab: 568px;
$tab: 768px;
$desk: 1024px;
$wide: 1340px;
$max-width: 1440px;

/* Typography */
$font-main: Lato, Arial, Helvetica, sans-serif;
$font-header: Lato, Arial, Helvetica, sans-serif;
$font-script: Moonstone, cursive;
$font-block: Barbaro, Arial, Helvetica, sans-serif;

/* Colors */
$color-teal-light: #3ef5d4;
$color-teal-dark: #2bb3bc;
$color-orange-light: #ffa900;
$color-orange-dark: #ff5c00;
$color-black: #000;
$color-black-50: rgba(0, 0, 0, 0.5);
$color-white: #fff;
$color-white-85: rgba(255, 255, 255, 0.85);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-gray-f1: #f1f1f1;
$color-gray-e6: #e6e6e6;
$color-gray-d: #ddd;
$color-gray-c: #ccc;
$color-gray-b: #bbb;
$color-gray-3: #333;
$color-gray-6: #666;
$color-gray-9: #999;
$color-gray-50: rgba(0, 0, 0, 0.5);
$color-gray-25: rgba(0, 0, 0, 0.1);
$color-gray-10: rgba(0, 0, 0, 0.1);
$color-gray-075: rgba(0, 0, 0, 0.075);
$color-gray-05: rgba(0, 0, 0, 0.05);
$color-gray-0: rgba(0, 0, 0, 0);

/* Gradients */
$gradient-orange: linear-gradient(to bottom right, $color-orange-light, $color-orange-dark);
$gradient-teal: linear-gradient(to bottom right, $color-teal-light, $color-teal-dark);
$gradient-orange-transparent: linear-gradient(
  to bottom right,
  transparentize($color-orange-light, 0.15),
  transparentize($color-orange-dark, 0.15)
);
$gradient-teal-transparent: linear-gradient(
  to bottom right,
  transparentize($color-teal-light, 0.15),
  transparentize($color-teal-dark, 0.15)
);

/* Layout */
$site-background: $color-gray-e6;
$side-pad-mobile: 1rem;
$side-pad-tablet: 1.25rem;
$side-pad-desktop: 1.5rem;

/* Decorations */
$rad-inner: 3px;
$rad: 5px;
$rad-outer: 8px;
