<div class="beehive-layout--three-column">
  <div class="beehive-layout--main-region">
    {{ content.main }}
  </div>
  <div class="beehive-layout--sidebar-region">
    {{ content.sidebar_first }}
  </div>
  <div class="beehive-layout--sidebar-region">
    {{ content.sidebar_second }}
  </div>
</div>