// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.region-content {
  font-size: 1rem;

  .region-inner {
    position: relative;
    padding: 0;
  }

  .page-title {
    font-family: $font-main;
    font-size: 1.25em;
    margin: 0;
    padding: 1em $side-pad-mobile 0;
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
  .region-content {
    font-size: 1rem;
  }
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .region-content {
    font-size: 1.1rem;

    .page-title {
      padding-right: $side-pad-tablet;
      padding-left: $side-pad-tablet;
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  .region-content {
    font-size: 1.15rem;

    .page-title {
      padding-right: $side-pad-desktop;
      padding-left: $side-pad-desktop;
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
  .region-content {
    font-size: 1.25rem;
  }
}
