// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.page-node-type-park {
  .region-content {
    .region-inner {
      padding: 1.5em 0;
    }
  }

  .block-page-title-block {
    padding: 0 1.5em;
  }

  .node--type-park {
    .field--name-field-image {
      border-radius: 0;

      img {
        width: 100%;
      }
    }

    .beehive--main-fields {
      padding: 0 1.5em;
    }

    .beehive--supporting-fields {
      padding: 0 1.5em;

      > .field {
        margin-bottom: 1.5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .beehive--location-fields {
      background: #fff;
      border-radius: 5px;
      margin: 1.5em;
      padding: 2.25em 1.5em 1.5em;
      position: relative;

      > h4 {
        background: $teal;
        border-radius: 3px 3px 0 0;
        color: #fff;
        font-size: 12px;
        font-weight: 900;
        left: 0;
        letter-spacing: 0.1em;
        line-height: 1.5;
        margin: 0;
        padding: 0.35em 0.75em;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 0;

        &:before {
          content: '\f3c5';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          margin-right: 0.25em;
        }
      }

      .field--label-above {
        .field__label {
          background: none;
          border-radius: 0;
          color: #000;
          padding: 0;
        }

        > .field__item,
        > .field__items {
          background: #fff;
          border: 0;
          border-radius: 0;
          padding: 0;
        }
      }

      > .field {
        margin-bottom: 1.5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .field--name-field-fees {
      .field__item {
        &:last-child {
          .paragraph {
            border-bottom: 1px dotted $gray-10;
          }
        }
      }

      .paragraph {
        border-top: 1px dotted $gray-10;
        padding: 0.5em 0;

        .field--name-field-label {
          font-size: 12px;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          &:after {
            content: ':';
          }
        }

        .field--name-field-value {
          font-weight: 900;
          line-height: 1.2;
        }
      }
    }

    .field--name-field-address {
      p {
        margin: 0;
      }
    }
  }
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}

// Extra Wide (over 1340px + 3rem) -----------------------------------
// ------------------------------------------------------
@media (min-width: $max-width) {
  .page-node-type-park {
    .node--type-park {
      .field--name-field-image {
        padding-left: 1.5rem;
      }
    }
  }
}
