// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
#layout-tabs {
  border-bottom: 1px solid $color-gray-c;
  border-left: 1px solid $color-gray-c;
  border-right: 1px solid $color-gray-c;
  position: relative;
  z-index: 1;

  > div {
    padding: $side-pad-mobile;
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  #layout-tabs {
    > div {
      padding: $side-pad-tablet;
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  #layout-tabs {
    > div {
      padding: $side-pad-desktop;
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
