// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.page-node-type-attraction,
.page-node-type-lodging,
.page-node-type-restaurant,
.page-node-type-hike {
  .region-content {
    &-top {
      .region-inner {
        padding: 0;
      }
    }

    .region-inner {
      padding: 0;
    }

    .block {
      border-bottom: 0;
      padding: 0;
    }
  }

  .utg-layout--region {
    .field {
      position: relative;
    }
  }

  .node__content {
    .field--name-field-category,
    .field--name-field-lodging-category,
    .field--name-field-cuisine,
    .field--name-field-hike-type {
      padding-left: $side-pad-mobile;
      padding-right: $side-pad-mobile;
      margin-bottom: 1em;
      display: flex;
      flex-flow: row wrap;

      a {
        background: $gradient-teal;
        color: #fff;
        border-radius: $rad * 3;
        padding: 0.25em 1em;
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-decoration: none;
        font-weight: 700;
        display: inline-block;
        margin-top: 0.5em;
        margin-right: 0.5em;
      }
    }

    .field--name-field-image {
      img {
        display: block;
        width: 100%;
      }
    }

    .field--name-title {
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.1;
      display: block;
      margin-bottom: 0.25em;
    }

    .field--name-field-location {
      display: flex;
      flex-flow: row wrap;
      font-size: 0.8em;

      .field__item {
        margin-right: 0.25em;
        line-height: 1.25;

        &:last-child {
          margin-right: 0;
        }

        a {
          text-decoration: none;
          color: $color-teal-dark;
          display: block;
          background: $color-gray-05;
          border-radius: 15px;
          padding: 0.25em 1em;

          &:hover,
          &:focus,
          &:active {
            background: $color-white;
            background: $color-teal-light;
          }
        }
      }
    }

    .field--name-field-phone,
    .field--name-field-website {
      $bubble-size: 28px;
      font-weight: 900;
      color: $color-gray-6;
      text-transform: uppercase;
      line-height: $bubble-size;
      padding-left: $bubble-size * 1.25;
      margin: 0.25em 0;
      letter-spacing: 0.05em;
      text-transform: none;
      font-size: 0.8em;

      &:before {
        content: '\f095';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 0.9em;
        width: $bubble-size;
        height: $bubble-size;
        color: $color-white;
        background: $gradient-teal;
        border-radius: $bubble-size;
        text-align: center;
        line-height: $bubble-size;
        position: absolute;
        left: 0;
      }
    }

    .field--name-field-website {
      &:before {
        content: '\f155';
      }
    }

    .field--name-body {
      border-top: 1px solid $color-gray-c;
      margin-top: 0.5em;
      padding-top: 1em;
      border-bottom: 1px solid $color-gray-c;
      margin-bottom: 0.5em;
      padding-bottom: 1em;

      > * {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .field--name-field-tips {
      margin-top: -0.75em;
      padding: 0.75em;
      margin-bottom: 1.25em;
      border-radius: $rad;
      background: $color-gray-f1;

      .field__label {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.7em;
        font-weight: 900;
        margin-bottom: 0.35em;
      }

      .field__item {
        font-size: 0.9em;
        width: 100%;
        padding-left: 0.75em;
        position: relative;
        line-height: 1.2;
        margin-bottom: 0.35em;

        &:before {
          content: '\f0da';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          color: $color-teal-dark;
          position: absolute;
          left: 0;
          top: 1px;
        }
      }
    }

    .field--name-field-photos {
      &.field__items {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
      }

      .field__item {
        border: 1px solid $color-gray-c;
        margin: 0.25em;

        img {
          display: block;
        }
      }
    }

    .field--name-field-coupons,
    .field--name-field-gear {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;

      > .field__item {
        margin: 0 0 3%;
        width: 100%;
        border-bottom: 1px solid $color-gray-c;
        position: relative;
        padding-bottom: 3%;

        &:last-child {
          margin: 0;
          padding-bottom: 0;
          border-bottom: 0;
        }

        &:only-child {
          width: 100%;
        }

        .content {
          width: 100%;

          a {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            text-decoration: none;
            align-items: center;

            > div {
              &:first-child {
                min-width: 50px;
                max-width: 50px;
                margin-right: 1em;
              }
            }

            img {
              margin-right: 0.5em;
              display: block;
            }

            h4 {
              font-size: 1em;
              color: $color-teal-dark;
              margin: 0 0 0.25em;
              font-weight: 400;
              padding-right: 2em;
            }

            .field--name-description {
              color: $color-black;
              display: flex;
              flex-flow: row wrap;
              font-size: 0.8em;
              line-height: 1.2;
              position: static;

              > * {
                &:first-child {
                  margin-top: 0;
                }

                &:last-child {
                  margin-bottom: 0;
                }
              }

              &:after {
                content: '\f35d';
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                margin-left: 0.5em;
                color: $color-teal-dark;
                position: absolute;
                top: 0;
                right: 0;
              }
            }
          }
        }
      }
    }

    .field--name-field-time-year,
    .field--name-field-time-day {
      $bubble-size: 28px;
      font-weight: 900;
      color: $color-gray-6;
      text-transform: uppercase;
      line-height: $bubble-size;
      padding-left: $bubble-size * 1.25;
      margin: 0.25em 0;
      font-size: 0.8em;

      &:before {
        content: '\f155';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 0.9em;
        width: $bubble-size;
        height: $bubble-size;
        color: $color-white;
        background: $gradient-teal;
        border-radius: $bubble-size;
        text-align: center;
        line-height: $bubble-size;
        position: absolute;
        left: 0;
      }
    }

    .field--name-field-time-day {
      display: flex;
      flex-flow: row nowrap;

      &:before {
        content: '\f017';
      }

      .field__item {
        padding: 0 0.25em 0 0;

        &:after {
          content: ',';
        }

        &:last-child {
          padding: 0;

          &:after {
            content: '';
          }
        }
      }
    }

    .field--name-field-time-year {
      display: flex;
      flex-flow: row nowrap;

      &:before {
        content: '\f57d';
      }

      .field__item {
        padding: 0 0.25em 0 0;

        &:after {
          content: ',';
        }

        &:last-child {
          padding: 0;

          &:after {
            content: '';
          }
        }
      }
    }

    .field--name-field-features {
      margin-top: -0.75em;
      padding: 0.75em;
      margin-bottom: 1.25em;
      border-radius: $rad;
      background: $color-gray-f1;

      .field__label {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.7em;
        font-weight: 900;
        margin-bottom: 0.35em;
      }

      .field__items {
        display: flex;
        flex-flow: row wrap;
      }

      .field__item {
        font-size: 0.9em;
        width: 100%;
        padding-left: 1.25em;
        position: relative;
        line-height: 1.2;
        margin-bottom: 0.35em;

        &:before {
          content: '\f058';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          color: $color-teal-dark;
          position: absolute;
          left: 0;
          top: 1px;
        }
      }
    }

    .field--name-field-address {
      text-align: center;
      border: 1px solid #ccc;
      padding: 1em;

      p {
        margin-bottom: 0;
      }

      .organization {
        font-weight: 700;
      }
    }

    .field--name-field-map.field--type-geolocation {
      text-align: center;
      background: $gradient-teal;
      color: $color-white;
      padding: 1em;
      font-weight: 700;
    }

    .field--name-field-website {
      text-transform: none;
      font-weight: 400;

      &:before {
        content: '\f245';
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .page-node-type-attraction,
  .page-node-type-lodging,
  .page-node-type-restaurant,
  .page-node-type-hike {
    .node__content {
      .field--name-field-category,
      .field--name-field-lodging-category,
      .field--name-field-hike-type,
      .field--name-field-cuisine {
        padding-left: $side-pad-tablet;
        padding-right: $side-pad-tablet;
      }
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  .page-node-type-attraction,
  .page-node-type-lodging,
  .page-node-type-hike,
  .page-node-type-restaurant {
    .node__content {
      .field--name-field-category,
      .field--name-field-lodging-category,
      .field--name-field-hike-type,
      .field--name-field-cuisine {
        padding-left: $side-pad-desktop;
        padding-right: $side-pad-desktop;
      }
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
