// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.view-posts.view-display-id-block_2 {
  .views-row {
    background: $white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    transition: all 0.25s ease-out;

    &:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
      transform: scale(1.01);
      transition: all 0.5s ease-out;
    }
  }

  .home-post-item-teaser {
    position: relative;

    &--image {
      img {
        display: block;
      }
    }

    &--title {
      background: $white;
      font-size: 1.125em;
      margin: 0;
      padding: 1rem 1rem 0.75rem;

      a {
        color: $orange;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
          color: lighten($orange, 10%);
        }
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
  .view-posts.view-display-id-block_2 {
    .view-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    .views-row {
      width: 48%;
    }
  }
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .view-posts.view-display-id-block_2 {
    .views-row {
      width: 31%;
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  .view-posts.view-display-id-block_2 {
    .views-row {
      width: 15%;
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
  .view-posts.view-display-id-block_2 {
    .views-row {
      width: 100%;
    }
  }
}
