// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.view-content {
  &.owl-carousel {
    margin: 0 -1rem;
    width: calc(100% + 2rem);

    .owl-item {
      padding-left: 1rem;
    }
  }
}
.square-view-item {
  a {
    display: block;
    position: relative;
    border-radius: $rad;

    h4 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.65em 1em;
      font-weight: 900;
      color: $color-white;
      background: $gradient-teal-transparent;
      margin: 0;
      font-size: 1.1em;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 0 0 $rad $rad;
    }

    div {
      border-radius: $rad;

      img {
        display: block;
        border-radius: $rad;
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
}
