// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.view-content {
  &.owl-carousel {
    margin: 0 #{-$side-pad-mobile};
    width: calc(100% + #{$side-pad-mobile * 2});

    .owl-item {
      padding-left: $side-pad-mobile;
    }
  }
}

.square-view {
  .view-content {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -0.5em;

    .views-row {
      max-width: 100%;
      margin: 0 0.5em 1em;
    }

    .square-view-item {
      $div-height: 200px;
      a {
        > div {
          > img {
            object-fit: cover;
            object-position: 50% 50%;
            max-height: $div-height;
            width: 100%;
          }
        }
      }
    }
  }
}

.square-view-item {
  a {
    display: block;
    position: relative;
    border-radius: $rad;

    h4 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.65em 1em;
      font-weight: 900;
      color: $color-white;
      background: $gradient-teal-transparent;
      margin: 0;
      font-size: 1em;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 0 0 $rad $rad;
    }

    div {
      border-radius: $rad;

      img {
        display: block;
        border-radius: $rad;
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .view-content {
    &.owl-carousel {
      margin: 0 #{-$side-pad-tablet};
      width: calc(100% + #{$side-pad-tablet * 2});

      .owl-item {
        padding-left: $side-pad-tablet;
      }
    }
  }

  .square-view {
    .view-content {
      .views-row {
        max-width: calc(50% - 1em);
      }

      .square-view-item {
        $div-height: none;
        a {
          > div {
            > img {
              max-height: $div-height;
            }
          }
        }
      }
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  .view-content {
    &.owl-carousel {
      margin: 0 #{-$side-pad-desktop};
      width: calc(100% + #{$side-pad-desktop * 2});

      .owl-item {
        padding-left: $side-pad-desktop;
      }
    }
  }

  .square-view {
    .view-content {
      .views-row {
        max-width: calc(33.3333% - 1em);
      }
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
  .square-view {
    .view-content {
      .views-row {
        max-width: calc(25% - 1em);
      }
    }
  }
}
