// Mobile (up to 567px) ---------------------------------
// ------------------------------------------------------
.view-content {
  &.owl-carousel {
    margin: 0 #{-$side-pad-mobile};
    width: calc(100% + #{$side-pad-mobile * 2});

    .owl-item {
      padding-left: $side-pad-mobile;
    }
  }
}

.square-view {
  .view-content {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -0.5em;

    .views-row {
      max-width: 100%;
      margin: 0 0.5em 1em;
    }

    .square-view-item {
      $div-height: 200px;
      a {
        > div {
          > img {
            object-fit: cover;
            object-position: 50% 50%;
            max-height: $div-height;
            width: 100%;
          }
        }
      }
    }
  }
}

.row-view {
  .view-content {
    .views-row {
      margin-bottom: 1em;
    }
  }
}

.square-view-item {
  a {
    display: block;
    position: relative;
    border-radius: $rad;
    overflow: hidden;

    h4 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.65em 1em;
      font-weight: 900;
      color: $color-white;
      background: $gradient-teal-transparent;
      margin: 0;
      font-size: 0.75em;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 0 0 $rad $rad;
    }

    div {
      border-radius: $rad;

      img {
        display: block;
        border-radius: $rad;
      }
    }
  }
}

.square-view-item-description {
  a {
    display: block;
    position: relative;
    border-radius: $rad;
    text-decoration: none;
    overflow: hidden;

    .item-text {
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      position: absolute;
      top: 0;
    }

    .item-title {
      padding: 0.65em 1em;
      font-weight: 900;
      color: $color-white;
      background: $gradient-teal-transparent;
      margin: 0;
      font-size: 1em;
      width: 100%;
      border-radius: $rad $rad 0 0;
      display: flex;
      align-items: flex-end;
    }

    .item-description {
      padding: 0.65em 1em;
      color: $color-black;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
      margin: 0;
      font-size: 0.9em;
      width: 100%;
      border-radius: 0 0 $rad $rad;
      display: flex;
      align-items: flex-start;
    }

    .item-date {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.7em;
      font-weight: 700;
      color: $color-white;
      background: $gradient-orange;
      border-radius: 0 $rad 0 $rad;
      padding: 0.125em 0.75em;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
    }

    .item-image {
      border-radius: $rad;

      img {
        display: block;
        border-radius: $rad;
      }
    }
  }
}

.square-view-item-product {
  a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    border-radius: $rad;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid $color-gray-c;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    .item-image {
      padding: 5%;

      img {
        display: block;
        max-width: 80px;
        min-width: 80px;
      }
    }

    $icon-size: 30px;

    .item-text {
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      padding: 5% 5% 5% 0;
      align-items: center;

      &:after {
        $icon-size: 30px;
        content: '\f35d';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: $icon-size / 2;
        position: absolute;
        top: 0;
        right: 0;
        width: $icon-size;
        height: $icon-size;
        text-align: center;
        line-height: $icon-size;
      }
    }

    .item-title {
      font-weight: 900;
      margin: 0 0 0.25em;
      font-size: 1em;
      color: $color-teal-dark;
      width: 100%;
      padding-right: $icon-size;
    }

    .item-description {
      font-size: 0.8em;
      color: $color-black;
      width: 100%;

      > * {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Phablet (568px to 767px) -----------------------------
// ------------------------------------------------------
@media (min-width: $phab) {
}

// Tablet (768px to 1023px) -----------------------------
// ------------------------------------------------------
@media (min-width: $tab) {
  .view-content {
    &.owl-carousel {
      margin: 0 #{-$side-pad-tablet};
      width: calc(100% + #{$side-pad-tablet * 2});

      .owl-item {
        padding-left: $side-pad-tablet;
      }
    }
  }

  .square-view {
    .view-content {
      .views-row {
        max-width: calc(50% - 1em);
      }

      .square-view-item {
        $div-height: none;
        a {
          > div {
            > img {
              max-height: $div-height;
            }
          }
        }
      }
    }
  }

  .square-view-item-product {
    a {
      .item-image {
        img {
          max-width: 120px;
          min-width: 120px;
        }
      }
    }
  }
}

// Desktop (1024px to 1339px) ---------------------------
// ------------------------------------------------------
@media (min-width: $desk) {
  .view-content {
    &.owl-carousel {
      margin: 0 #{-$side-pad-desktop};
      width: calc(100% + #{$side-pad-desktop * 2});

      .owl-item {
        padding-left: $side-pad-desktop;
      }
    }
  }

  .square-view {
    .view-content {
      .views-row {
        max-width: calc(33.3333% - 1em);
      }
    }
  }

  .square-view-item-product {
    a {
      .item-image {
        img {
          max-width: 150px;
          min-width: 150px;
        }
      }
    }
  }
}

// Wide (over 1340px) -----------------------------------
// ------------------------------------------------------
@media (min-width: $wide) {
  .square-view {
    .view-content {
      .views-row {
        max-width: calc(25% - 1em);
      }
    }
  }

  .square-view-item-product {
    a {
      .item-image {
        img {
          max-width: 200px;
          min-width: 200px;
        }
      }
    }
  }
}
